<div class="headerBox">
	{{scaled-image src=photo.profilePic}}
	<div class="username">
		<a href="">{{photo.name}}</a>
		<a href="">{{photo.location}}</a>
	</div>
</div>
{{insta-image src=photo.image height=photo.computedHeight}}
{{yield}}
