{{#if notLoaded}}
{{loading-spinner}}
{{/if}}
<a download={{source}} href={{source}}><img class="downloadIcon" src="/insta_card_icons/download.png"/></a>
<img src={{source}} class="insta-image"/>
{{yield}}
